:root {
  --branding-color: #003d63;
  --primary-color: #9d8dd6;
  --header-color: #4f3e8a;
  --main-background-color: #e9e5f7;
  --secodary-color: rgb(226, 240, 245);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  margin-top: 80px;
  background: var(--main-background-color);
}
h1,
h2,
h3,
h4 {
  color: var(--branding-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
p {
  font-family: var(--default-font-family);
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}
.col-6 img {
  border: 5px solid var(--primary-color);
}
.hero {
  background: var(--secodary-color);
  text-align: center;
  padding: 160px 20px;
  border: 10px solid var(--primary-color);
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--branding-color);
}
.hero h1 {
  color: var(--header-color);
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}
.project-image {
  border: 5px solid var(--primary-color);
}
.about-section {
  padding: 20px 20px;
}
.about-section h1 {
  margin-top: 40px;
  font-size: 43px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 22px;
  line-height: 50px;
  font-family: var(--default-font-family);
}
.about-section p {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 16px;
  font-family: var(--default-font-family);
  line-height: 35px;
}
.about-section-content {
  margin-right: 10px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  font-weight: bold;

  text-decoration: none;
}
.btn-branding:hover {
  background: var(--primary-color);
  color: var(--branding-color);
}

.btn-branding-outline {
  background: var(--main-background-color);
  color: var(--branding-color);
  border: 5px solid var(--primary-color);
  border-radius: 4px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline:hover {
  background: var(--primary-color);
}
.nav-color {
  background: var(--main-background-color);
}
.project-description {
  padding: 100px 60px;
}
.about-section img {
  border: 5px solid var(--primary-color);
}

@media (max-width: 1200px) {
  .project-description {
    padding-top: 25px;
  }

  .about-section-content h1 {
    font-size: 36px;
    line-height: 2;
    text-align: left;
  }
  .about-section-content h2 {
    font-size: 18px;
    line-height: 1.7;
    text-align: left;
  }
  .about-section-content p {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
  }
}
@media (max-width: 991px) {
  .project-description {
    padding: 0;
    text-align: center;
  }

  p {
    text-align: center;
  }
  h1 {
    font-size: 48px;
    line-height: 2;
  }
  h2 {
    text-align: center;
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }
  .about-section h1 {
    margin-top: 0;
  }

  .about-section-content h1 {
    font-size: 24px;
    line-height: 2;
    text-align: left;
  }
  .about-section-content h2 {
    font-size: 16px;
    line-height: 1.7;
    text-align: left;
  }
  .about-section-content p {
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
  }
}
@media (max-width: 768px) {
  .about-section {
    text-align: center;
  }

  .about-section-content p {
    text-align: center;
  }
  .about-section-content h1 {
    text-align: center;
    margin-top: 0;
  }
  .about-section-content h2 {
    text-align: center;
  }
  .about-section img {
    width: 300px;
  }
}
